.main-button {
    transition: 0.2s;
    border: none;
    padding: 10px 16px 11px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 0.75em;
    color: white;
    background-color: var(--green);
    box-shadow: var(--small-shadow);
    outline: 2px solid transparent;

    &:hover {
        opacity: 0.8;
    }
    &:focus {
        outline-color: var(--dark);
    }
    &:active {
        transform: scale(95%);
        outline-color: transparent;
    }
    &:disabled {
        color: var(--grey-text);
        background-color: var(--grey-disabled);
        box-shadow: 0px 0px 0px transparent;
    }
}
