@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import "./mainInput.scss";
@import "./mainButton.scss";

:root {
    --small-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    --big-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
        0px 6px 10px rgba(0, 0, 0, 0.02);
    --background-color: #e5e5e5;
    --green: #7bae73;
    --error: #ff8484;
    --text: #3f3f3f;
    --dark: #49485e;
    --grey-text: #b4b4b4;
    --grey-disabled: #eeeeee;
    --white: #fffefb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root,
.app,
body {
    min-height: 100vh;
}

#root {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
